/* main text on home page */
.main-center-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(70, 80, 100);
    font-size: 75px;
    text-align: center;
    position: relative;
    line-height: 110px;
    margin-top: 11%;
    margin-bottom: 20px;
}

.main-center-subtext {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(70, 80, 100);
    font-size: 15px;
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    text-align: center;
}

/* NAV BAR */
/* help from: https://www.w3schools.com/howto/howto_css_topnav_right.asp */
.nav-bar {
    width: 100%;
    height: 80px;
    margin: 0;
    background: rgb(255, 246, 230);
    position: sticky;
    top: 0;
    z-index: 0;
}


.nav-bar > .element {
    float: left;
    color: rgb(70, 80, 100);
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    font-family: Times;
    font-size: 18px;
    line-height: 60px;
    z-index: 0;
}

.nav-right {
    float: right;
    z-index: 0;
}

.nav-right > .element {
    float: right;
    color: rgb(70, 80, 100);
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    font-family: Times;
    font-size: 18px;
    line-height: 60px;
    z-index: 0;
}

.nav-bar > .element:hover { 
    color:rgb(129, 149, 181);
    text-decoration: solid;
}	

.nav-right > .element:hover { 
    color:rgb(129, 149, 181);
    text-decoration: solid;
}	

.nav-bar > .element:active {
    color:rgb(0, 0, 0);
    font-style: bold;
}

.nav-right > .element:active {
    color:rgb(0, 0, 0);
    font-style: bold;
}


/* BODY */
.content {
    width: 80%;
    margin-left: 10%;
}

.background {
    background-color: rgb(255, 246, 230);
}

/*for typewriter effect (tutorial: https://www.sitepoint.com/css-typewriter-effect/) */
/*animation delay idea https://developer.mozilla.org/en-US/docs/Web/CSS/animation-delay */
.typed-out {
    overflow: hidden;
    border-right: .08em solid transparent;
    white-space: nowrap;
    letter-spacing: .03em;
    margin: 0 auto;
    animation: 
        typing 3.5s steps(40, end),
        blinking .6s step-end 10;
}

.typed-out-delayed {
    opacity: 0;
    overflow: hidden;
    border-right: .09em solid transparent;
    white-space: nowrap;
    letter-spacing: .03em;
    margin: 0 auto;
    animation: 
        typing 5s steps(45, end),
        blinking .5s step-end 13;
    animation-delay: 6s;
    opacity: 1;
    animation-fill-mode: both;
}

.typed-out-delayed-2 {
    opacity: 0;
    overflow: hidden;
    border-right: .09em solid transparent;
    white-space: nowrap;
    letter-spacing: .03em;
    margin: 0 auto;
    animation: 
        typing 5s steps(45, end),
        blinking .5s step-end 13;
    animation-delay: 13.25s;
    opacity: 1;
    animation-fill-mode: both;
}

.typed-out-delayed-3 {
    opacity: 0;
    overflow: hidden;
    border-right: .09em solid transparent;
    white-space: nowrap;
    letter-spacing: .03em;
    margin: 0 auto;
    animation: 
        typing 5s steps(45, end),
        blinking .5s step-end 14;
    animation-delay: 20.25s;
    opacity: 1;
    animation-fill-mode: both;
}

.container {
    display: inline-block;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking {
    from, to { border-color: transparent }
    50% { border-right: .08em solid rgb(70, 80, 100) }
}

/*ABOUT PAGE CSS */
.about-headline {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(56, 64, 80);
    font-size: 85px;
    text-align: left;
    position: relative;
    line-height: 110px;
    margin-top: 4%;
    margin-left: 8%;
    margin-bottom: 40px;
}

.about-photo-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(70, 77, 90);
    font-size: 18px;
    position: relative;
    width: 37%;
    margin-left: 15%;
    margin-bottom: 20px;
    margin-right: 0%;
    text-align: left;
}

.reg-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(70, 77, 90);
    font-size: 18px;
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 20px;
    text-align: left;
}

.about-blue-box {
    background: rgb(73, 78, 88);
    position: absolute;
    margin-left: 57%;
    margin-top: -16%;
    width: 320px;
    height: 230px;
}

.about-pfp {
    position: absolute;
    margin-left: 59%;
    margin-top: -18%;
}


.film-1 {
    position: relative;
    margin-left: 10%;
    margin-top: 2%;
    z-index: -1;
}

.film-2 {
    position: relative;
    margin-left: 10%;
    margin-top: 0%;
    z-index: -1;
}